@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}
.task-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.tasks{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.task{
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.task span{
  user-select: none;
  cursor: pointer;
}
.task span.active{
  color: red;
}

.filter{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.filter button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ccc;
}
.filter button:hover{
  background-color: #ccc;
}
.filter button.active{
  background-color: #444;
  color: #fff;
}

.new-task-form{
background: #f2f2f2;
padding: 20px 0;
}
form{
  width: 370px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
input{
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFD24D;
  color: #352929;
}
